@page "/Leaderboard"
@using HamsterWarsV2.Blazor.Services

@inject IRequestService RequestService

<h1>Leaderboard</h1>


@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Win rate</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hamster in hamsters)
            {
                <tr>
                    <td><a href="/HamsterWins/@hamster.Id">@hamster.Name</a></td>
                    <td>@hamster.Age</td>
                    <td>@Calculator.CalculatePercentage(@hamster.Wins, @hamster.Games)%</td>
                    <td>@hamster.Likes</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Hamster>? hamsters;
    private int count = 0;

    protected override async Task OnInitializedAsync()
    {
        hamsters = await RequestService.GetHamsters();
        hamsters = ListOrderService.OrderHamsterByWinPercentage(hamsters);
    }
}
